body{
	background-image: url("../img/back.jpg");
	background-attachment: fixed;
   	background-position: center center;
   	background-size: cover; 

   	font-family: 'Open Sans', sans-serif !important;
   	color: white; 
}

#titulo{
	padding-top: 5%;
}


#cuerpo{
	width: 70%;
	margin: 20px auto;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 45px;
}

.imput{
	width:80%;
	margin: 20px auto 0 auto;
}




#selector2, #selector3{
	display: none;
}


#ModalLabel{
	color: black;
	font-weight: bold;
}
#Bterminos{
	color: lightblue;
	cursor: pointer;
}
#Terminos{
	color: black;
}

#boton{
	margin-bottom: 5%;
}

.tel{
	color: black;
}

#btn{
	margin-top: 5%;
	margin-bottom: 3%;
}
