body{
	background-image: url("../img/back.jpg");
	background-attachment: fixed;
   	background-position: center center;
   	background-size: cover; 

   	font-family: 'Open Sans', sans-serif !important;
   	color: white; 
}

#titulo{
	padding-top: 5%;
}


#cuerpo{
	width: 70%;
	margin: 20px auto;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 45px;
}

.imput, .NA{
	width:80%;
	margin: 20px auto 0 auto;
}




.selector1, .selector2{
	display: none;
}




#boton{
	margin-bottom: 5%;
}


